@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

:root {
    /*Primary colors*/
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /*Neutral colors*/
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%)
}

* {
    padding: none;
    margin: none;
    box-sizing: border-box;
}

body {
    height: 95vh;
    font-family: 'Manrope', sans-serif;
    background-color: var(--dark-blue);
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    width: 97%;
    background-color: var(--dark-grayish-blue);
    margin: 25% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.3em .5em 0;
    border-radius: 12px;
}

.card-title {
    color: var(--neon-green);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.4em;
    letter-spacing: 0.2em;
}

#advice {
    color: var(--light-cyan);
    font-size: 1em;
    font-weight: 800;
    text-align: center;
}

#dice {
    background-color: var(--neon-green);
    padding: 1.5em 1.5em 1.3em;
    border: none;
    border-radius: 50%;
    transform: translateY(50%);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}